<div class="main-page">
  <div class="search-location">
    <div class="search-container">
      <div class="header-1">Доставляем радость</div>
      <div class="header-2">
        Быстрая доставка из ваших любимых ресторанов, кафе и магазинов
      </div>
      <div>
        <div class="header-3">Укажите город, в котором вы находитесь</div>
        <div>
          <select name="location" id="location">
            <option value="none" key="none">Выберите город доставки</option>
            <option value="minsk" key="minsk">Минск</option>
            <option value="brest" key="brest">Брест</option>
            <option value="gomel" key="gomel">Гомель</option>
            <option value="grodno" key="grodno">Гродно</option>
            <option value="mogilev" key="mogilev">Могилев</option>
            <option value="vitebsk" key="vitebsk">Витебск</option>
          </select>
          <button type="button" class="search-btn btn btn-light">
            Найти заведения
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="about-us">
    <div class="about-us-container">
      <div class="header-1">О нас</div>
      <div class="header-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
        bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
        justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam
        fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
        sed rhoncus pronin sapien nunc accuan eget. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
        gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
        sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus
        pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien
        nunc accuan eget. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet
        lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic
        tempor. Sociis natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
        felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
      </div>
    </div>
  </div>

  <div class="how-it-works">
    <div class="left-picture"></div>
    <div class="how-it-works-container">
      <div class="header-1">Как это работает?</div>
      <div class="steps">
        <div class="step">
          <div class="circle">1</div>
          <div class="header">Выберите город доставки</div>
          <div class="description">
            Вам будут показаны рестораны, кафе и магазины вашего города
          </div>
        </div>
        <div class="step">
          <div class="circle">2</div>
          <div class="header">Выберите заведение</div>
          <div class="description">
            Выберите понравившееся заведение, чтобы просмотреть его меню
          </div>
        </div>
        <div class="step">
          <div class="circle">3</div>
          <div class="header">Выберите нужные продукты</div>
          <div class="description">
            Добавьте нужные блюда и продукты в корзину и оформите заказ
          </div>
        </div>
      </div>
    </div>
    <div class="right-picture"></div>
  </div>

  <div class="delivery-terms">
    <div class="delivery-terms-container">
      <div class="header-1">Условия доставки</div>
      <div class="header-2">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod
        bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
        justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam
        fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci,
        sed rhoncus pronin sapien nunc accuan eget. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin
        gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin
        sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis
        parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus
        pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien
        nunc accuan eget. Lorem ipsum dolor sit amet, consectetur adipiscing
        elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet
        lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic
        tempor. Sociis natoque penatibus et magnis dis parturient montes,
        nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
        felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
      </div>
    </div>
  </div>

  <div class="work-with-us">
    <div class="left-picture"></div>
    <div class="work-with-us-container">
      <div class="header-1">Работа с "Ежа.by"</div>
      <div class="steps">
        <div class="step">
          <div class="circle">Стать партнером</div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
            euismod bibendum laoreet. Proin gravida dolor sit amet lacus
            accumsan et viverra justo commodo. Proin sodales pulvinar sic
            tempor. Sociis natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra
            vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc
            accuan eget.
          </div>
          <button type="button" class="step-btn btn btn-light">
            Стать партнером
          </button>
        </div>
        <div class="step">
          <div class="circle">Стать курьером</div>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean
            euismod bibendum laoreet. Proin gravida dolor sit amet lacus
            accumsan et viverra justo commodo. Proin sodales pulvinar sic
            tempor. Sociis natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra
            vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc
            accuan eget.
          </div>
          <button type="button" class="step-btn btn btn-light">
            Стать курьером
          </button>
        </div>
      </div>
    </div>
    <div class="right-picture"></div>
  </div>
</div>
