<div class="login">
  <div class="row" id="main-row">
    <div class="col">
      <img alt="" src="../../../assets/leaves.png" class="leaves-left" />
    </div>
    <div class="col-8">
      <br />
      <br />
      
      <div class="row">
        <div class="col"></div>
        <div class="col-7">
          <form novalidate class="app-form">
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <label for="emailInput">E-mail</label>
                  <input
                    type="email"
                    class="form-control"
                    id="emailInput"
                    required
                  />
                  <div class="invalid-feedback">Введите e-mail</div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="col">
                <div class="form-group">
                  <label for="emailInput">Пароль</label>
                  <input
                    type="password"
                    class="form-control"
                    id="passwordInput"
                    required
                  />
                  <div class="invalid-feedback">Введите e-mail</div>
                </div>
              </div>
            </div>
            <button type="submit" class="btn-red btn btn-primary">Вход</button>
          </form>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <div class="col">
      <img alt="" src="../../../assets/leaves.png" class="leaves-right" />
    </div>
  </div>
</div>
