#logo-img {
  text-align: center;
  margin: auto;
}

.leaves-left {
  border-width: 0px;
  position: absolute;
  left: 0px;
  top: 20px;
  width: 245px;
  height: 545px;
}

.leaves-right {
  border-width: 0px;
  position: absolute;
  right: 0px;
  top: 20px;
  width: 245px;
  height: 545px;
  transform: rotate(180deg);
}

.App .btn-red {
  color: black;
  background-color: rgba(235, 95, 95, 0.6);
  border-color: rgba(235, 95, 95, 0.6);
}

.App .btn-red:hover {
  color: black;
  background-color: rgb(235, 95, 95);
  border-color: rgb(235, 95, 95);
}

.App .btn-red:active {
  color: black !important;
  background-color: rgb(235, 95, 95) !important;
  border-color: rgb(235, 95, 95) !important;
}

.App .btn-red:focus {
  color: black;
  background-color: rgb(235, 95, 95);
  border-color: rgb(235, 95, 95);
  box-shadow: 0 0 0 0.2rem rgba(235, 95, 95, 0.25);
}

.App .btn-red:active:focus {
  box-shadow: 0 0 0 0.2rem rgba(235, 95, 95, 0.25) !important;
}

.App input:focus {
  border-color: rgb(235, 95, 95);
  box-shadow: 0 0 0 0.2rem rgba(235, 95, 95, 0.25);
}

.App select:focus {
  border-color: rgb(235, 95, 95);
  box-shadow: 0 0 0 0.2rem rgba(235, 95, 95, 0.25);
}

.App .table-hover tbody tr:hover {
  color: #212529;
  background-color: rgba(235, 95, 95, 0.075);
}

.App .app-link {
  color:rgb(235, 85, 85);
}

.App .app-link:hover {
  color:rgb(235, 10, 10);
}

.App .app-switch .custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  background-color: rgba(235, 95, 95, 0.6);
  border-color: rgba(235, 95, 95, 0.6);
}

.form-label {
  font-weight: bold;
}