<div class="navbar navbar-light">
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvas-navbar"
    aria-controls="offcanvas-navbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas-navbar">
    <app-offcanvas></app-offcanvas>
  </div>

  <div class="brand">
    <img src="../../../assets/logo9.png" width="120" alt="logo" />
  </div>
  <div class="app-link">
    <a *ngIf="isLoggedIn" (click)="logOut()">Выход</a>
  </div>
</div>
