<div class="navbar navbar-light">
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="offcanvas"
    data-bs-target="#offcanvas-navbar"
    aria-controls="offcanvas-navbar"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvas-navbar">
    <app-offcanvas></app-offcanvas>
  </div>

  <div class="brand" (click)="redirectToMainPage()">
    <img src="../../../assets/logo9.png" width="120" alt="logo" />
  </div>
  <div class="cart">
    <img src="../../../assets/26.png" height="30" alt="" />
    <span
      *ngIf="number && number > 0"
      class="position-absolute translate-middle badge rounded-pill bg-danger"
    >
      {{ number > 99 ? "99+" : number }}
      <span class="visually-hidden">unread messages</span>
    </span>
  </div>
  <div class="user">
    <img src="../../../assets/25.png" height="30" alt="" />
  </div>
</div>
