#app-nav-tabs .nav-link {
  color: black;
}

#app-nav-tabs .nav-link.active {
  color: rgb(235, 85, 85);
}

.cafeOrders, h4 {
  justify-content: center;
  display: flex;
}

.btn-red {
  color: black;
  background-color: rgba(235, 95, 95, 0.6);
  border-color: rgba(235, 95, 95, 0.6);
}

.btn-red:hover {
  color: black;
  background-color: rgb(235, 95, 95);
  border-color: rgb(235, 95, 95);
}

.btn-red:active {
  color: black !important;
  background-color: rgb(235, 95, 95) !important;
  border-color: rgb(235, 95, 95) !important;
}

.btn-red:focus {
  color: black;
  background-color: rgb(235, 95, 95);
  border-color: rgb(235, 95, 95);
  box-shadow: 0 0 0 0.2rem rgba(235, 95, 95, 0.25);
}

.btn-red:active:focus {
  box-shadow: 0 0 0 0.2rem rgba(235, 95, 95, 0.25) !important;
}

.btn-red.mat-button-toggle-checked {
  color: black;
  background-color: rgb(235, 95, 95);
  border-color: rgb(235, 95, 95);
}
